<div class="card mt-3 mb-3 mx-auto border-dark" style="width: 700px;">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
    <p class="card-text"><small class="text-muted">{{creator}}, {{createdAt}}</small>
    </p>
  </div>
  {{!-- <div class="card-footer text-muted fs-6">{{creator}}, {{createdAt}}</div> --}}
</div>
